Repository myoung34/homelab: changes, and which Atlantis projects are due for each by the changed paths.
All: unifi, cloudflare

unifi:
  dir: terraform/unifi
  workflow: default

cloudflare:
  dir: terraform/cloudflare
  workflow: default

Refactor atlantis sanity check
  k8s/prod/atlantis/kustomization.yaml
Due: none

Add permissions check gh action
  .github/workflows/permissions.yaml
Due: none

Add remaining CF dns records
  terraform/cloudflare/dns.tf
  terraform/cloudflare/foo
  terraform/cloudflare/iot.tf
  terraform/cloudflare/locals.tf
Due: cloudflare

move everything to middleware auth and off .service
  .secrets.baseline
  k8s/prod/coredns/kustomization.yaml
  k8s/prod/dex/kustomization.yaml
  k8s/prod/pihole/kustomization.yaml
  k8s/prod/pihole/namespace.yaml
  k8s/prod/pihole/tailscale.yaml
  k8s/prod/pihole/traefik.yaml
  k8s/prod/pihole/vault.yaml
  k8s/prod/workflows/etcdsnapshot.yaml
  k8s/prod/workflows/psql.yaml
  k8s/prod/workflows/talos.yaml
  k8s/prod/zigbee2mqtt-upstairs/backup.sh
  k8s/prod/zigbee2mqtt/backup.sh
  k8s/prod/zwave-js-ui/kustomization.yaml
  k8s/prod/zwave-js-ui/le.yaml
  k8s/prod/zwave-js-ui/traefik.yaml
  nomad/minio.hcl
  nomad/traefik.hcl
  terraform/cloudflare/dns.tf
  terraform/cloudflare/locals.tf
Due: cloudflare

Add local pihole for ez DNS
  .secrets.baseline
  k8s/prod/pihole/kustomization.yaml
  k8s/prod/pihole/namespace.yaml
  k8s/prod/pihole/tailscale.yaml
  k8s/prod/pihole/traefik.yaml
  k8s/prod/pihole/vault.yaml
  k8s/prod/traefik/kustomization.yaml
  terraform/cloudflare/dns.tf
  terraform/cloudflare/locals.tf
Due: cloudflare

Forward the minio api not redirect the http ui port
  nomad/minio.hcl
Due: none

Fix logic for talos backup
  k8s/prod/workflows/talos.yaml
Due: none

Move off pihole completely
  k8s/prod/pihole/kustomization.yaml
  k8s/prod/pihole/namespace.yaml
  k8s/prod/pihole/tailscale.yaml
  k8s/prod/pihole/traefik.yaml
  k8s/prod/pihole/vault.yaml
  terraform/cloudflare/dns.tf
  terraform/cloudflare/locals.tf
Due: cloudflare

Use nextdns in unifi
  terraform/unifi/locals.tf
  terraform/unifi/vlan_cluster.tf
  terraform/unifi/vlan_defaults.tf
  terraform/unifi/vlan_iot.tf
  terraform/unifi/vlan_nas.tf
  terraform/unifi/vlan_printer.tf
  terraform/unifi/vlan_wifi.tf
  terraform/unifi/vlan_your_mom.tf
Due: unifi

Move zwave/zig/esp off the public internet, rely on tailscale
  k8s/prod/esphome/kustomization.yaml
  k8s/prod/esphome/le.yaml
  k8s/prod/esphome/traefik.yaml
  k8s/prod/zigbee2mqtt-upstairs/kustomization.yaml
  k8s/prod/zigbee2mqtt-upstairs/le.yaml
  k8s/prod/zigbee2mqtt-upstairs/traefik.yaml
  k8s/prod/zigbee2mqtt/kustomization.yaml
  k8s/prod/zigbee2mqtt/le.yaml
  k8s/prod/zigbee2mqtt/traefik.yaml
  k8s/prod/zwave-js-ui/kustomization.yaml
  k8s/prod/zwave-js-ui/le.yaml
  k8s/prod/zwave-js-ui/traefik.yaml
Due: none

move everything behind tailscale except hass
  .secrets.baseline
  k8s/argo/configmap.yaml
  k8s/argo/kustomization.yaml
  k8s/argo/le-wf.yaml
  k8s/argo/le.yaml
  k8s/argo/tailscale-wf.yaml
  k8s/argo/tailscale.yaml
  k8s/argo/traefik-wf.yaml
  k8s/argo/traefik.yaml
  k8s/prod/atlantis/kustomization.yaml
  k8s/prod/atlantis/le.yaml
  k8s/prod/atlantis/traefik.yaml
  k8s/prod/dex/kustomization.yaml
  k8s/prod/dex/le.yaml
  k8s/prod/dex/namespace.yaml
  k8s/prod/dex/traefik.yaml
  k8s/prod/dex/vault.yaml
  k8s/prod/traefik/forward-auth.yaml
  k8s/prod/traefik/kustomization.yaml
Due: none

Remove external-dns
  .secrets.baseline
  k8s/prod/external-dns/kustomization.yaml
  k8s/prod/external-dns/vault.yaml
Due: none

Add breadcrumb for argo workflow auth
  k8s/argo/README.md
Due: none

No need for kube subdomain anymore
  terraform/cloudflare/dns.tf
Due: cloudflare

[Automated :robot: ] Bump home-assistant/core from 2024.2.1 to 2024.2.2
  k8s/prod/hass/hass.yaml
Due: none

[Automated :robot: ] Bump version file for home-assistant/core from 2024.2.1 to 2024.2.2
  k8s/prod/hass/.version
Due: none

[Automated :robot: ] Bump zwave-js/zwave-js-ui from 9.8.3 to 9.9.0
  k8s/prod/zwave-js-ui/zwave.yaml
Due: none

[Automated :robot: ] Bump version file for zwave-js/zwave-js-ui from 9.8.3 to 9.9.0
  k8s/prod/zwave-js-ui/.version
Due: none

Bump tailscale to 1.61
  k8s/prod/tailscale/kustomization.yaml
Due: none

tailscale: Fix operator image ref
  k8s/prod/tailscale/kustomization.yaml
Due: none

tailscale operator: revert to 1.59
  k8s/prod/tailscale/kustomization.yaml
Due: none

Try managing dns directly
  .secrets.baseline
  k8s/prod/esphome/dns.yaml
  k8s/prod/esphome/kustomization.yaml
  k8s/prod/external-dns/kustomization.yaml
Due: none

Hass: bump sleep timeout before removing backups
  k8s/prod/hass/configmap.yaml
Due: none

wip: test using coredns for the NS for subdomain
  k8s/prod/coredns/kustomization.yaml
Due: none

Z2mqtt: Migrate to real dns TLD with forward auth
  k8s/prod/dex/kustomization.yaml
  k8s/prod/mosquitto/kustomization.yaml
  k8s/prod/mosquitto/traefik.yaml
  k8s/prod/zigbee2mqtt-upstairs/configmap.yaml
  k8s/prod/zigbee2mqtt-upstairs/kustomization.yaml
  k8s/prod/zigbee2mqtt-upstairs/le.yaml
  k8s/prod/zigbee2mqtt-upstairs/traefik.yaml
  k8s/prod/zigbee2mqtt/configmap.yaml
  k8s/prod/zigbee2mqtt/kustomization.yaml
  k8s/prod/zigbee2mqtt/le.yaml
  k8s/prod/zigbee2mqtt/traefik.yaml
Due: none

Fix detect-secrets baseline
  .secrets.baseline
Due: none

Fix tls ref in zigbee upstairs traefik
  k8s/prod/zigbee2mqtt-upstairs/traefik.yaml
Due: none

tailscale: Dont set versions, use chart defaults
  k8s/prod/tailscale/kustomization.yaml
Due: none

wat
  k8s/prod/esphome/dns.yaml
Due: none

Path conditions:
  unifi: any of: terraform/unifi/**/.terraform.lock.hcl, terraform/unifi/**/.terraform-version, terraform/unifi/**/*.tf
  cloudflare: any of: terraform/cloudflare/**/.terraform.lock.hcl, terraform/cloudflare/**/.terraform-version, terraform/cloudflare/**/*.tf
